.container {
  width: 100%;
  height: 100vh;
  background-color: #0074d9;
  /* for center the animation-container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .animation-container {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.container .animation-container .bouncing-cirkle {
  width: 25px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(9px);
  background-color: #ff851b;
  animation-name: bouncingBall;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* 
    and you can do it with one line like this :

    animation: bouncingBall .5s linear delay: 0 infinite alternate fill-mode: none;
*/
}

@keyframes bouncingBall {
  100% {
    transform: translateY(-20px);
    width: 20px;
    height: 20px;
  }
}

.container .animation-container h3 {
  margin: 0;
  color: #ff851b;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}
